body {
  max-width: 680px;
  margin: 0 auto;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { font-weight: 500; }

microlibrary-loader {
  display: block;
  margin-bottom: 30px;
}
microlibrary-loader p {
  margin: 0 0 5px;
}
microlibrary-loader textarea,
microlibrary-loader input {
  font-family: inherit;
  border: 1px solid #888;
  border-radius: 3px;
}
microlibrary-loader input {
  margin-right: 10px;
  padding: 5px 10px;
}
microlibrary-loader textarea {
  width: 100%;
  min-height: 80px;
  box-sizing: border-box;
  padding: 10px;
  resize: vertical;
  line-height: 1.3;
  font-size: 15px;
}
microlibrary-loader button {
  border: 1px solid #888;
  background: #fff;
  border-radius: 3px;
  height: 28px;
  padding: 0 10px;
  margin-right: 6px;
  box-shadow: 0 1px 2px #00000017;
}

microblog-feed {
  display: block;
  margin: 1em 0;
}
.post {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 60px 1fr 1fr;
  grid-template-rows: auto auto;
  margin-bottom: 30px;
  padding: 5px 0px;
  border-bottom: 1px gray solid;
}
.post .content {
  grid-column: 2 / span 2;
}
.post h1 { font-size: 21px; }
.post h2 { font-size: 20px; }
.post h3 { font-size: 19px; }
.post h4 { font-size: 18px; }
.post h5 { font-size: 17px; }
.post h6 { font-size: 16px; }
.post .thumb {
  grid-row-start: 1;
  grid-row-end: 3;
}
.post .thumb img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}
.post .meta {
  font-size: 13px;
  color: #667;
}
.post .content {
  min-height: 26px;
  line-height: 1.3;
}
.post iframe.content {
  width: 100%;
}
.post .content > * {
  margin: 0;
}
.post .content > * + * {
  margin-top: 0.5rem;
}

.post .tagged {
  font-size: small;
}
.post .tags {
  font-style: italic;
}

microlibrary-shelf-select {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
  background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
  background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
  padding: 5px;
  border: 1px solid #000;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.json-lib-book-content img {
  max-width: 150px;
  max-height: 230px;
  float: left;
  margin: 20px;
  margin-left: 0px;
  margin-top: 10px;
}

.json-lib-book-content h4 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1em;
}

#entrybox button {
  background-color: lightblue;
}

#entrybox input[name=title] {
  width: 250px;
}

#entrybox input[name=review-title] {
  width: 85%;
}

.book-editor {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    border: 1px solid #888;
    background: #fff;
    border-radius: 3px;
    height: 28px;
    margin-right: 6px;
    box-shadow: 0 1px 2px #00000017;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
}
